body {
  background-color: #fff;
  font-family: 'Lora', serif;
  font-size: 16px;
  color: #000;
  
}

/* HEADER */
#header-nav {
  background-color: #E3E4E2;
  border-radius: 0;
  border: 20;
}

.navbar-header{
  width: 100%;
}

.navbar-brand {
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #1c8986;
  font-weight: bold;
  text-shadow: 1.5px 1px 1px #222;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

h2 { /* Menu title */
  font-family: 'Lora', serif;
  margin-top: 20px;
  color: #524f43;
}

#nav-list a:hover {
  background: #f7f6f2;
}

.navbar-header button.navbar-toggler {
  clear: both;
}
/* END HEADER */


/* HOMEPAGE - Main Contents*/
#coffee-tile, #tea-tile, #soda-tile {
  margin-bottom: 15px;
  background-color: #E3E4E2;
  margin: 20px;
  padding: 10px;
  color: black;
}

#coffee-tile {
  background-color: #007E87;
}

#tea-tile {
  background-color: #93C4BD;
}

#soda-tile {
  background-color: #C7E3DC;
}

#coffee-tile span, #tea-tile span,  #soda-tile span {
  background-color: transparent;
  font-size: 1.3em;
  font-weight: bolder;
  text-align: center;
  color: #000;
}
/* END HOMEPAGE */



/********** Large devices only (e.g. Desktop) **********/
@media (min-width: 1200px) {
/*Header*/
.navbar-header {
    float: none;
}
.navbar-left,.navbar-right {
    float: none !important;
}
.navbar-toggler {
    display: block;
}
.navbar-collapse.collapse {
    display: none!important;
}
.navbar-nav {
    float: none!important;
}
.navbar-nav>li {
    float: none;
}
.collapse.in{
    display:block !important;
}
/*END Header*/
}

/********** Medium devices only (e.g. Tablet) **********/
@media (min-width: 992px) and (max-width: 1199px) {
/*Header*/
.navbar-header {
    float: none;
}
.navbar-left,.navbar-right {
    float: none !important;
}
.navbar-toggler {
    display: block;
}
.navbar-collapse.collapse {
    display: none!important;
}
.navbar-nav {
    float: none!important;
}
.navbar-nav>li {
    float: none;
}
.collapse.in{
    display:block !important;
}
/*END Header*/
}

/********** Small devices only (e.g. Mobile) **********/
@media (min-width: 768px) and (max-width: 991px) {
/*Header*/
.navbar-brand h1 {
    font-size: 1.8em;
}
h2 {
    font-size: 1.5em;
}
/*END Header*/
}

/********** Extra small devices only (e.g. x-small mobile) **********/
@media (max-width: 767px) {
/*Header*/
.navbar-brand h1 {
    font-size: 1.6em;
}
h2 {
    font-size: 1.5em;
}
/*END Header*/
}

