body {
  background-color: #fff;
  font-family: 'Lora', serif;
  font-size: 16px;
  color: #000;
  
}

/* HEADER */
#header-nav {
  background-color: #E3E4E2;
  border-radius: 0;
  border: 20;
}
.navbar-header{
  width: 100%;
}
.navbar-brand {
	padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #1c8986;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

h2 { /* Menu title */
  font-family: 'Lora', serif;
  margin-top: 15px;
}

#nav-list {
  margin-top: 10px;
  width: 100%;
}

#nav-list a {
  color: black;
  text-align: center;
}

#nav-list a:hover {
  text-decoration: none;
  background: #f2b31b;
  padding-right: 100px;
  opacity: 0.5;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid #a19578;
}

.navbar-header button.navbar-toggle {
  clear: both;
}

/* END HEADER */


/* HOMEPAGE - Main Contents*/
#coffee-tile, #tea-tile, #soda-tile {
  margin-bottom: 15px;
  background-color: #E3E4E2;
  margin: 20px;
  padding: 10px;
  color: black;
}

#coffee-tile {
  background-color: #007E87;
}

#tea-tile {
  background-color: #93C4BD;
}

#soda-tile {
  background-color: #C7E3DC;
}

#coffee-tile span, #tea-tile span,  #soda-tile span {
  background-color: transparent;
  font-size: 1.3em;
  font-weight: bolder;
  text-align: center;
  color: #000;
}

/* END HOMEPAGE */



/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {

}

