body {
  background-color: #fff;
  font-family: 'Lora', serif;
  font-size: 16px;
  color: #000; 
}

/* HEADER */
.container-fluid{
  margin: 0;
  padding: 0;
}

#navHeader {
  background-color: #E3E4E2;
  border-radius: 0;
}
.navbar-header {
  width: 100%;
  background-color: transparent;
}

.navbar-brand {
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #1c8986;
  font-weight: bold;
  text-shadow: 1.5px 1px 1px #222;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

h2 { /* Menu title */
  font-family: 'Lora', serif;
  margin-top: 20px;
  color: #524f43;
}

#navDroplist {
  border-top: 1.5px solid #454234;
}

#navDroplist a:hover {
 opacity: 0.75;
}
/* END HEADER */


/* HOMEPAGE - Main Contents*/
#coffeeTile, #teaTile, #sodaTile {
  box-sizing: border-box;
  margin-bottom: 15px;
  background-color: #E3E4E2;
  margin: 20px;
  padding: 10px;
  color: black;
}

#coffeeTile {
  background-color: #007E87;
}

#teaTile {
  background-color: #93C4BD;
}

#sodaTile {
  background-color: #C7E3DC;
}

#coffeeTile span, #teaTile span,  #sodaTile span {
  background-color: transparent;
  font-size: 1.3em;
  font-weight: bolder;
  text-align: center;
  color: #000;
}
/* END HOMEPAGE */


/*** For any device above SMALL (.col-sm-) ***/
@media (min-width: 768px) {
/*Header*/
.navbar-header {
    float: none;
}
.navbar-left,.navbar-right {
    float: none !important;
}
.navbar-toggler {
    display: block;
}
.navbar-collapse.collapse {
    display: none!important;
}
.navbar-nav {
    float: none!important;
}
.navbar-nav>li {
    float: none;
}
.collapse.in{
    display:block !important;
}
/*END Header*/
}


/*** For any x-SMALL device ***/
@media (max-width: 575px) {
/*Header*/
.navbar-brand h1 {
    font-size: 1.8em;
}
h2 {
    font-size: 1.5em;
}
/*END Header*/
}

